.navbar{
  background-color: white;

  .navbar-nav{
    font-size: 1.2rem;
    li{
      margin-left: 10px;
      margin-right: 10px;
      a{
        color: black;
        &:hover{
          background: #dc3545;
          color: white !important;
        }
      }
    }
  }
  form{
    margin-left: 300px;

    .btn{
      background-color: #0C0B4F;
      color: white;

      &:hover {
        background-color: #0D26EC;
        transition:all 300ms ease ;
        transform: scale(1.1);
      }

    }
  }
}

.section-1 {
  background-image: linear-gradient(to bottom,
          rgba(12, 12, 12, 0.46) 25%, rgba(65, 66, 70, 0.61) 100%), url("../assets/img/miyunk3.jpg");
  background-position: center center;
  height: 400px;
  h3{
    font-size: 5.3rem;
  }

  display: flex!important;
  flex-direction: column;
  justify-content: space-between;

  .rowed-2{
    p{
      font-weight: 500;
    }
    .color-yellow {
      color: #EBEC1B;
    }
  }
}

.section-3{
  h3{
    font-weight: 500;
  }
}

footer{
  background-color: #0B0E1B;
}
