
.navbar{
  background-color: white;

  .navbar-nav{
    font-size: 1.2rem;
    li{
      margin-left: 10px;
      margin-right: 10px;
      a{
        color: black;
        &:hover{
          background: #dc3545;
          color: white !important;
        }
      }
    }
  }
  form{
    margin-left: 300px;

    .btn{
      background-color: #0C0B4F;
      color: white;

      &:hover {
        background-color: #0D26EC;
        transition:all 300ms ease ;
        transform: scale(1.1);
      }

    }
  }
}

.section-1{
  background-color: #ECD8D8;

}

footer{
  background-color: #0B0E1B;
}
